@media (max-width: 768px) {

    h1 {
        font-size: 1.8rem;
    }

    .search {
        flex-direction: column;
        align-items: center;
    }

    .search input {
        width: 90%;
    }

    .card {
        width: 90%;
    }

    #forecastBox {
        flex-direction: column;
        align-items: center;
    }

    .forecast-card {
        width: 80%;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 1.5rem;
    }

    .card {
        padding: 15px;
    }

    .forecast-card {
        width: 95%;
    }
}